.p-3 {
    background-color: #CE2222;
    padding: 1rem!important;
}
.dropdown, .dropend, .dropstart, .dropup {
    position: relative;
    padding-left: 60px;
    margin-top: 10px;
    align-content: center;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    display: none
;
}
.category{
    color: white;
    padding-left: 5px;

}
.user{
    color: white;
    padding-left: 5px;
    margin-top: 20px;
}
.mb-3 {
    margin-bottom: 0rem!important;
}
.cart {
    display: inherit;
    padding: 0px 20px 0px 20px;
    color: white;

}
.text-cart{
    margin-top: 20px;
}
.footer__box-contact{
    background-color: #dfdfdf !important;
}
.footer__box-information{
    background-color: #CE2222 ;

}
.footer__box-information .box-footer-information .text-information {
    font-size: 10px;
    line-height: 2;
    color: #fff !important;
    font-weight: 500;
}
.mb-3 {
    margin-bottom: 0rem!important;


    padding-right: var(--bs-gutter-x,.75rem) !important;
    padding-left: var(--bs-gutter-x,.75rem)!important;
    margin-right: auto;
    margin-left: auto;

}
.carousel{
    margin-bottom: 0rem!important;
    max-width: 1320px;
    padding-right: var(--bs-gutter-x,.75rem) !important;
    padding-left: var(--bs-gutter-x,.75rem)!important;
    margin-right: auto;
    margin-left: auto;

}
.box-title__tag a {
    padding: 5px 15px;
    background: #ed1c24;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 0 1px rgb(0 0 0 / 8%);
    font-size: 12px;
    line-height: 1.5;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -ms-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
}
.dangger{
    background-color:  #ff7d00;
    color: white;
    border-radius: 15px;
    text-align: center;
    width: 200px;
    height: 40px;
    padding-top: 5px;
    text-decoration: none;

}
.extra{
    display: flex;
    justify-content: center;

}
.card-text{
    font-weight: 400;
    font-size: 1.5rem;
    color: black;
}
.card-price{
    font-weight: 600;
    color: red;
    font-size: 1.5rem;
}
.addcart{
    background-color: red;
    color: white;
    height: 3rem;
    border-radius: 5px;
    font-size: 20px;
    justify-content: center;
}

.d-flex{
    justify-content: center !important;
}
@media (min-width: 992px) {
  .extra{
      display: flex;
      float: right;
      margin-top: -46px;
  }
    .text-reset {
        text-align: left;
    }
}
.text-reset {
    text-align: left;
}
@media (max-width: 640px) {
    .text-reset {
        text-align: center;
    }
    .card-price{
        text-align: center;
    }
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    transition: box-shadow .3s;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    color: white ;

}
a:link{
    color: white;
    text-decoration: none;
}
.seafood{
    padding-top: 20px;
}
.bg-light {
    --bs-bg-opacity: 1;
     background-color: white !important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px !important;
    border-radius: .25rem;
}