.p-3 {
  background-color: #CE2222;
  padding: 1rem!important;
}
.dropdown, .dropend, .dropstart, .dropup {
  position: relative;
  padding-left: 60px;
  margin-top: 10px;
  align-content: center;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  display: none
;
}
.category{
  color: white;
  padding-left: 5px;

}
.user{
  color: white;
  padding-left: 5px;
  margin-top: 10px;
}
.mb-3 {
  margin-bottom: 0rem!important;
}
.cart {
  display: inherit;
  padding: 0px 20px 0px 20px;
  color: white;

}
.text-cart{
  margin-top: 20px;
}
.footer__box-contact{
  background-color: #dfdfdf !important;
}
.footer__box-information{
  background-color: #CE2222 ;

}
.footer__box-information .box-footer-information .text-information {
  font-size: 10px;
  line-height: 2;
  color: #fff !important;
  font-weight: 500;
}
.mb-3 {
  margin-bottom: 0rem!important;


  padding-right: var(--bs-gutter-x,.75rem) !important;
  padding-left: var(--bs-gutter-x,.75rem)!important;
  margin-right: auto;
  margin-left: auto;

}
.carousel{
  margin-bottom: 0rem!important;
  max-width: 1320px;
  padding-right: var(--bs-gutter-x,.75rem) !important;
  padding-left: var(--bs-gutter-x,.75rem)!important;
  margin-right: auto;
  margin-left: auto;

}
.box-title__tag a {
  padding: 5px 15px;
  background: #ed1c24;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 0 1px rgb(0 0 0 / 8%);
  font-size: 12px;
  line-height: 1.5;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  -ms-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}
.dangger{
  background-color:  #ff7d00;
  color: white;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 40px;
  padding-top: 5px;
  text-decoration: none;

}
.extra{
  display: flex;
  justify-content: center;

}
.card-text{
  font-weight: 400;
  font-size: 1.5rem;
  color: black;
}
.card-price{
  font-weight: 600;
  color: red;
  font-size: 1.5rem;
}
.addcart{
  background-color: red;
  color: white;
  height: 3rem;
  border-radius: 5px;
  font-size: 20px;
  justify-content: center;
}

.d-flex{
  justify-content: center !important;
}
@media (min-width: 992px) {
  .extra{
    display: flex;
    float: right;
    margin-top: -46px;
  }
  .text-reset {
    text-align: left;
  }
  .filter {
    width: 320px;
  }
}
.text-reset {
  text-align: left;
}
@media (max-width: 640px) {
  .text-reset {
    text-align: center;
  }
  .card-price{
    text-align: center;
  }
  .row>* {
  }
  .dropdown, .dropend, .dropstart, .dropup {
    position: relative;
    padding-left: 0px !important;
    margin-top: 10px;
    align-content: center;
  }
  .product{
    display: inline-block !important;
  }
}
a{
  text-decoration: none;
}

.seafood{
  padding-top: 20px;
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: #f0f0f0 !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px !important;
  border-radius: .25rem;
}

.product{
  flex-wrap: wrap;
  display: flex;
}
.filter{
  height: auto;
  background-color: white !important;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  margin-top: 0px !important;
}
body{
  background-color: #f0f0f0 !important;
}
.bg-white {
  --bs-bg-opacity: 1;
  background-color:#f0f0f0  !important;
  margin-bottom: 20px;
}
.g-3, .gy-3 {
  --bs-gutter-y: 1rem;
  background-color: white !important;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
.pagination{
  display: flex;
  justify-content: flex-end;
}
.detailproduct{
  padding-right: 0!important;
  padding-left: 0!important;
  margin-top: 0!important;
  display: inline-block;

}
.shadow-product{
  box-shadow: 0 0 0 rgba(0,0,0,0)!important;
}
.titledetailproduct{

}
.information-detail{

}
.detailproductall{
  margin-top: 20px;
  margin-bottom: 20px;

}
.select-quantity{
  width: 40px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #b8b8b8;
  margin-left: 20px !important;
}
.btn-detail{
  justify-content: left !important;
}
input{
  text-align: right;
}
.addcartdetail{
  margin-left: 20px !important;
  background-color: red;
  color: white;
  border-radius: 5px !important;
  justify-content: center;
}
@media (min-width: 992px) {
.detailtext{
  padding-right: 60px;
}
  .information-detail {
    margin-top: 20px;
    flex: 1 1 auto;
    padding: 1rem 1rem;
    margin-left: 128px;
    /* text-align: center; */
  }
}
.note-detail{
  font-style: oblique;
  font-weight: bold;
}
.login{
  display: flex !important;
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: .75rem; }
.rounded-6 { border-radius: 1rem; }

.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom .75s ease-in-out;
}
.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
  width: 380px;
}

.border-right { border-right: 1px solid #eee; }

.modal-tour .modal-dialog {
  width: 380px;
}
.background{
background-image: url("../../assets/images/image 22.svg") !important;

}